
{% extends 'projects/base.html'%}
{% block content %}
{% load static %}



<div style ="background-color: black;" >
  <div >
    <br>
    <img id="propic" src="{% static 'portfolio/professional-pic.png' %}" class='center' style="width: 400px; height: 400px;">
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="text center">
      <h1  style ="color: white;" class="typewritter-text ">Elie Francois</h1>
      <br>
      <p  style ="color: white;" class="lead">In today's world internet is the most popular way of connecting with the people...</p>
    </div>
  </div>








<h2 class="mt-5" style="color: white;">Portfolio</h2>
<br>
<div class="row ">
  {% for project in projects %}
  <div class="col-lg-3 col-md-6 body">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2" style=" width: 200px; height: 200px;">
    </a>
    {% else %}
    <img src="{{ project.image.url }}" class="img-fluid mb-2" style=" width: 200px; height: 200px;" >
    {% endif %}
    <h3>{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>


{% endblock %}
